html {
    scroll-behavior: smooth;
   
}

* {
    box-sizing: border-box;
    max-width: 100%;
}


body {
    font-size: 62.5%;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    color: black;

}

h2 {

    font-size: 1.1rem;
    font-weight: 900;
    padding-top: 2%;
    color: #61892f;
    padding-bottom: 0.2rem;
    /*position: relative;*/
    width: fit-content;
    margin: auto;
}
a{
    text-decoration: none;

}

/*****HEaDAer****/
header {
    max-width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #1a260a;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;

}

header>span {

    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    left: 5%;
    color: #86c232;
    text-shadow: 2px 5px 5px #2b410e;

    margin-top: 0.5%;

}

header span,
footer div {
    font-family: 'Alex Brush';
}


header nav ul {
    display: flex;
    gap: 15%;
    font-size: 0.8rem;
    right: 22%;
    position: absolute;
    color: #ffffff;
    padding-top: 0.5rem;


}
li a{
    color:#ffffff;
}
li#hide{
    display:none;
}
header nav ul li {
    list-style-type: none;
    font-family: 'Nunito Sans';
    padding-left: 0.1rem;
}

header nav ul li+li {
    border-left: 0.2rem solid #86c232;  
}

.phone{
    display: none;
}

/******MAIN**/
#background {
    margin: 2.5% auto 5% auto;
   
}

main {
    height: 95vh;
    background-image: url("../images/main-green.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    font-size: 1.7rem;
    max-width: 90%;
    margin: -3% auto 5% auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
   
}

/*main .h1 {
   
    margin-left: 2rem;
}
*/
div.h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
    transform: translate(0,-25%);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
   
   

  
}


.consoleContainer{
    margin: auto;
    color: #ffffff;
    font-size: 3rem;
    display: block;
    


}
.consoleUnderscore{
    display:inline-block;
   position:relative;
   padding: 1rem;
   text-align: center;
   
 }
  

main>span {

    background-color: #86c332;
    font-size: 1rem;
    color: whitesmoke;
    padding: 1rem;
    float: left;
    margin-left: 4rem;
    font-size: 1.4rem;
    position: relative;
    top: 40%;
}







/**About*/
#mainAbout {
    width: 100%;
    height: auto;
    margin: 1.5rem auto -3.5rem auto;

}

#about {
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 1.5rem;
    margin: -6% auto 2% auto;
    color: black;
    height: auto;
    }

#left {
    margin:auto;
    padding: 0.4rem;
    background-color: #222629;
    font-size: 1rem;
    color: #65a20a;
    letter-spacing: 0.8rem;
}
#space{
    margin-top: 4%;
}
#about h2 {
    position: relative;
    right: 34%;
    margin-top: 2rem;
    border-bottom: 0.1vh solid #222629;
}


#about h3 {
    margin: 5%;
    font-size: 1.2rem;
    color: #1a260a
}
#about a{
    text-decoration: none;
   display: flex;
   justify-content: center;
}


#describe {
    max-width: 50%;
    background-color: #86c232;
    box-shadow: -5px -5px 5px 0px #000000;


}




/*****ourServices***/
#all {
    background-color: #1a260a;
}

#h2Services {
    color: #86c232;
    margin-top: 3.7rem;
    max-width: 100%;
    border: none;
    letter-spacing: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;

}



#ourServices2 {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

#ourServices2 div {
    background-color: #040404;

    color: #86c232;
    box-shadow: 0 3px 10px #86c232;
    padding: 2rem;
    border: 0.1vh solid;
    border-radius: 2rem;
}



#ourServices2 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
    border-bottom: 0.15vh solid #86c232;

}



/**PROJECTS*/
section#myWork {
   
    width: 90%;
    margin: auto;
   /* box-shadow: 0 3px 10px #040404;*/
   box-shadow: -1px 0px 10px #000;
    padding-bottom: 2rem;

}
section#myWork h2 {
    letter-spacing: 1rem;

}

#h2Projects {
    font-size: 2rem;
    margin-top: -5rem;
    padding-top: 2rem;

}

#h2Projects h2 {
    color: #25360e;
    border: none;
    text-shadow: -2px 3px 3px #86c232;
}

#projects,
#projects2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 2rem;
}

#projects {
    display: none;
}

.projects {
    /*border: 0.1vh solid #222629;*/
    border-radius: 2rem;
    display: grid;
    grid-gap: 3vh;
    width: 17.5%;
    height: 25rem;
    align-content: center;
    text-align: center;
    margin-bottom: 3%;
    box-shadow: #1a260a -5px 5px, #21310b -10px 10px,#435f1d -15px 15px,#3d6901  -20px 20px, #65a20a -25px 25px;
    /*box-shadow: 0 3px 10px #a17a69;*/
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.2),0 6px 20px rgba(0,0,0,0.19);*/
    background-color: #101606;


}

.projects img {
    max-width: 100%;
    display: block;
    
}

.projects span {
    padding-top: 22rem;
    font-size: 1.2rem;
    color: whitesmoke;
    color: aliceblue;

}

/*.projects#resturant .links a,
.projects#salon .links a {
    margin-bottom: 0;
}*/

.projects .tools{
    /*background-color: #65a20a;
    background-color: #4f5447;*/
    margin-top: 6%;
    width:80%;
    margin: auto;
    padding-top: 2%;
    margin-top: 6%;
   
}
.projects .tools div{
   display: flex;
   justify-content:space-evenly ;
  
} 
.projects .tools div span{
    font-size: 1.075rem;
    /*color: #4f5447;*/
    color: #2b410e;
}
.projects .tools>div+div>span+span{
    margin-left: 18%;
}
.projects .links{
margin-top: 10%;
}



.projects .tools+.tools {
    border: none;
}

.projects .tools span {

    font-size: 0.75rem;
    margin-left: 5%;
    padding: 1%;

}

.projects span {
    color: #c1c4c2;
}

.projects .links {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;

}

.contain h3 {
    font-size: 1.1rem;
    color: #65a20a;
    padding-bottom: 1rem;
}


.play{
    display: none;
}



.links a {
    text-decoration: none;
    color: #86c332;
    margin-top: 1rem;
    padding: 0.2rem;
}

.links i {
    text-shadow: 1px 1px 1px #86c232;
    margin-left: 0.1rem;
    padding-left: 0.2rem;
}


#moreButton{
   /* padding:0.7rem;
    background-color: #040404;*/
    width:fit-content;
    margin: auto;
    color: #61892f;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}


#morexxx{
    display: none;  
}


/****BLOGS***/
#blogs {
    margin-top: 0rem;

}

#blogs h2 {
   
    font-size: 1.3rem;
    color: #040404;

}

.blogOptions {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    margin-top: 2rem;

}

.blogOptions div {
    width: 15rem;
    height: 10rem;
    background-color: #3b5516;
    box-shadow: 1px 3px 5px #61892f;
    border-radius: 2rem;

}

#blogs a {

    text-decoration: none;
    color: #86c332;
}

#blogs a h4 {
    padding-top: 3rem;
    text-align: center;
    font-size: 1rem;
}
#blogs .less{
    display: none;
}
/**ARROW*/

#arrow{
    text-decoration: none;
    opacity: 0.8;
    padding: 1%;
    font-size: 1rem;
    background-color: #65a807;
    position: fixed;
    bottom: 3%;
    right: 2%;
}
#arrow i{
    color: #101606;
   
}




/****footer*/
footer {
    /*background-color: #040404;*/
    height: auto;
    color: #21310b;
    max-width: 90%;
    margin: auto;
}




footer ul {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px #86c232;

}

#copyright {

    text-align: center;
    margin-left:/* -4rem*/ 0%;
  
}
#copyright i,#copyright span{
    color: #3b5516;
}

footer div i {
    font-size: 0.9rem;
}

footer span {
    font-size: 0.9rem;
    font-family: 'Alex Brush';
}

footer ul i {
    margin: 2rem;
    padding: auto 2rem;
}






/*********HOVER**********/

header ul li:hover {
    color: #86c232;

}

/**main****/
main span:hover {
    background-color: #ffffff;
    color: black;
}


#ourServices2 div:hover {
    background-color: #86c232;
    color: black;
}




/*#salon:hover {
    background-image: url(../images/saloon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#alphabet:hover {
    background-image: url(../images/a-z.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#resturant:hover {
    background-image: url(../images/cuisine.png);
    background-size: cover cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}*/



/************MEDIA QUERY***************/
@media screen and (max-width:480px) {


    header,
    main {
        max-width: 100%;
    }
    header>span{
        margin-top: 0.5rem;
        font-size: 1.6rem;
    }
    header nav ul {
        display: none;
    }
    
    
    .phone{
        display: inline;
        color: white;
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-left: 10rem;
        margin-right: -5rem;
    }
    .menu.active {
        display: flex;
        right: 0%;
        flex-direction: column;
        background-color: #25360e;
        gap: 5%;
        width: 90%;
        margin-top:4rem;
        margin-left: 1%;
       height: 68vh;
       animation: myAnim 1s ease 0s infinite alternate backwards;
    }
    @keyframes myAnim {
        0% {
            transform: scaleX(0.4);
            transform-origin: 100% 100%;
        }
    
        100% {
            transform: scaleX(1);
            transform-origin: 100% 100%;
        }
    }
    
    .stopScroll.active{
        height: 100%;
       overflow: hidden;
    }

    .menu li{
       
        border-bottom:0.1rem  solid  #222629;
        padding: 0.75rem;
        text-align: center;
        font-size: 1.4rem;
        border-left: none
    }
    li a{
        color:#ffffff;
    }
    
    .h1 span{
        font-size: 1.75rem;
    }
    main>span{
        margin: auto;
        font-size: 1.2rem;
    }
    
   

    #about {
        width: 65%;
        height: auto;
    }
    #mainAbout{
        margin-top:-2rem;
        margin-bottom: -3.5rem;
    }
    #about h2{
        margin-top: 1rem;
    }
    #about h3{
        margin-top: 1rem;
        margin-bottom:0.7rem;
    }
    

    #describe {
        max-width: 100%;
    }
    #left{
        letter-spacing: 0.5rem;
    }

    #ourServices2,
    #projects2,
    .blogOptions {
        display: block;
    }

    #h2Services {
        padding-top: 4rem;
       
    }

    #ourServices2 div {
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
    }
    /*#h2Projects{
        left:31.5%;
    }*/
    #myWork{
        padding-bottom: 0rem;
    }
    .projects {
        width: 60%;
        height: 30vh;
        margin: auto;
        margin-bottom: 2rem;
    }
    .contain {
        margin-top: 1rem;
    }
    .contain>span{
        margin-bottom: 2%;
    }
    #alphabet .tools,#ageCalculator .tools{
        margin-bottom: -11%;
        margin-top: 6%;
    }
    
    #more{
        font-size: 1.3rem;
    }
    .blogOptions div {
        margin: auto;
        margin-bottom: 2rem;
    }

    #blogs h2 {
        left: 39%;
        margin-top: 1rem;
        letter-spacing: 0.4rem;
    }

    section#myWork h2 {
        letter-spacing: 0.5rem;
       
    }

    footer {
        max-width: 100%;
    }
    footer #copyright{
      display: flex;
      justify-content: center;
     
    }

}
    

    @media (min-width:481px) and (max-width:768px){

    
        header,
        main {
            max-width: 100%;
        }
        header>span{
            margin-top: 0.5rem;
            font-size: 1.6rem;
        }
        header nav ul {
            display: none;
        }
        
           
        
        .phone{
            display: inline;
            color: white;
            font-size: 1.5rem;
            margin-top: 0.5rem;
            position: relative;
            right: -26%;
        }
        .menu.active {
            display: flex;
           right: 0%;
            flex-direction: column;
            background-color: #25360e;
            gap: 5%;
            width: 60%;
            margin-top:4rem;
           height: 65vh;
           animation: myAnim 1s ease 0s infinite alternate backwards;
        }
        @keyframes myAnim {
            0% {
                transform: scaleX(0.7);
                transform-origin: 100% 100%;
            }
        
            100% {
                transform: scaleX(1);
                transform-origin: 100% 100%;
            }
            
        }
        
        .stopScroll.active{
            height: 100%;
           overflow: hidden;
        }
    
        .menu li{
            border-bottom:0.1rem  solid  #222629;
            padding: 0.75rem;
            text-align: center;
            font-size: 1.4rem;
            border-left: none
        }
        li a{
            color:#ffffff;
        }
       
        .h1 span{
            font-size: 2.5rem;
        }
        main>span{
            margin: auto;
            font-size: 1.5rem;
        }
    
        
    
        main img {
            display: none;
        }
    
        #about {
            width: 68%;
           
           height: auto;
        }
        #mainAbout{
            margin-top:-2.5rem;
            margin-bottom: -12.5rem;
        }
        #about h2{
            margin-top: 1rem;
            font-size: 1.5rem
        }
        #about h3{
            margin-top: 1rem;
            margin-bottom:1.5rem;
            font-size: 1.7rem;
        }
        
    
        #describe {
            max-width: 100%;
        }
        #describe a span{
            font-size: 1.5rem;
        }
        #describe h3{
            font-size: 1.5rem;
        }
        
        #all{
            margin-top: 13rem;
        }
        #ourServices2,
        #projects2,
        .blogOptions {
            display: block;
        }
    
        #h2Services {
            padding-top: 4rem;
         
            font-size: 2.0rem;
        }
    
        #ourServices2 div {
            width: 90%;
            margin: auto;
            margin-bottom: 2rem;
            font-size: 1.2rem;
        }
       
        #myWork{
            padding-bottom: 0rem;
           
        }
        .projects {
            width: 50%;
            height: auto;
            margin: auto;
            margin-bottom: 2rem;
            
        }
        .contain h3{
            font-size: 1.3rem;
        }
        .contain {
            margin-top: 1rem;
        }
        .contain span{
            font-size: 1.075rem;
        }
        .projects .tools span,.projects .links a{
            font-size: 0.8rem;
        }
        .play{
            display: none;
        }
        
       
        #more{
            font-size: 1.15rem;
        }
    
        .blogOptions div {
            margin: auto;
            margin-bottom: 2rem;
            height:15rem ;
            padding: 2rem 3rem ;
            
        }
    
        #blogs h2 {
           
            margin-top: 1rem;
            letter-spacing: 0.4rem;
            font-size: 1.3rem;
        }
        #blogs a h4{
            font-size: 1.2rem;
        }
    
        section#myWork h2 {
           
           
            font-size: 1.3rem;
        }
        #contacts h2{
              font-size: 1.2rem;
        }
        #contacts ul i{
            font-size: 2rem;
        }
        footer {
            max-width: 100%;
        }
        footer #copyright{
          display: flex;
          justify-content: center;
         
        }
        }
        @media (min-width:769px)and (max-width:1021px){
            header nav ul {
                right: 20%;
                gap: 9%;
            }
            header nav ul li{
                font-size: 1.0rem;
            }
            header span{
                font-size: 1.4rem;
                margin-left: 1%;
            }
            
            
            main >span{
                margin-left: 0%;
            }
            #about{
                width:100% ;
                height: auto;
                padding-bottom:1%;
            }
            #describe h3{
                font-size: 1.3rem;  

            }
            #left{
                font-size: 1.3rem;
            }
            #h2Services,#blogs h2{
                font-size: 1.5rem;
            }
            #ourServices2 div{
                font-size: 1.2rem;
            }
            
            #projects2{
                margin-top: 4vh;
            }
            section#myWork h2{
                letter-spacing:1.3rem;
                font-size: 1.5rem;
            }
           
            .play{
                display: none;
            }
            .projects{
                width: 23vw;
                height: 45vh;
            }
    
           .links a {
            font-size: 1rem;
           }
            .contain{
                margin-top: -15%;
            }
           
            .contain h3{
                font-size: 1.2rem;
            }
            .contain>span{
                margin-bottom: 5%;
            }
           .blogOptions div{
            height: 25vh;
           }
           #blogs div a h4 {
            font-size: 1.2rem;
           }
            
            #contacts{
                max-width: 100%;
            }
            #contacts h2{
               font-size: 1.375rem;
             
            }
        }
        @media (min-width:1022px){
            
            #about h2,#contacts h2{
              font-size: 1.275rem;
            }
            
            

        }
        
        
