html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

html {}

body {
    font-size: 62.5%;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    color: black;

}

h2 {

    font-size: 1.1rem;
    font-weight: 900;
    padding-top: 2%;
    color: #61892f;
    padding-bottom: 0.2rem;
    position: relative;
}

/*****HEaDAer****/
header {
    max-width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #1a260a;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;

}

header>span {

    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    left: 5%;
    color: #86c232;
    text-shadow: 2px 5px 5px #2b410e;

    margin-top: 0.5%;

}

header span,
footer div {
    font-family: 'Alex Brush';
}


header nav ul {
    display: flex;
    gap: 20%;
    font-size: 0.8rem;
    right: 22%;
    position: absolute;
    color: #ffffff;
    padding-top: 0.5rem;


}

header nav ul li {
    list-style-type: none;
    font-family: 'Nunito Sans';
    padding-left: 0.1rem;

}

header nav ul li+li {
    border-left: 0.2rem solid #86c232;
    ;
}

.phone{
    display: none;
}

/******MAIN**/
#background {
    margin: 2.5% auto 5% auto;
    /*background-color:whitesmoke;
    max-width: 85%;
    box-shadow: 0px 2px 3px rgb(10, 17, 29);*/
    /* border-bottom-left-radius: 4rem;
   border-top-right-radius: 4rem;*/
}

main {
    height: 100vh;
    background-image: url("../images/main-green.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    font-size: 1.3rem;
    max-width: 90%;
    margin: -3% auto 5% auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    /* border-top-left-radius: 20rem;
   border-bottom-right-radius: 20rem;
    border-bottom-left-radius: 20rem;
    border-left: -0.02vh solid #6d7284;
    border-right: -0.02vh solid #8a89aa;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
   /* box-shadow: 4px -3px 10px #111010;*/


}

main h1 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.h1 {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

main h1,
main span {
    padding-top: 12rem;
    margin-bottom: 7rem;
    font-size: 1.8rem;
    color: #ffffff;

}

main span {

    background-color: #86c332;
    font-size: 1rem;
    color: whitesmoke;
    padding: 1rem;
    float: left;
    margin-left: 4rem;

    /*box-shadow: 0 3px 10px #9c8e8e;*/

}


main img {

    margin: 8rem 4rem 4rem 4rem;
    height: 15rem;
    margin-right: 4rem;
}




/**About*/
#mainAbout {
    width: 100%;
    height: 60vh;
    margin: -3.5rem auto -4.5rem auto;

}

#about {
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 1.5rem;
    margin: 1% auto 0% auto;
    color: black;
    height: 57.5vh;
    /* background-color: #ffffff; #8a89aab3;;*/
    /* border-left: 0.1vh solid rgb(242, 209, 186);
    border-right: 0.1vh solid rgb(242, 209, 186);*/

}

#left {
    margin-left: 2.15rem;
    padding: 0.4rem;
    background-color: #222629;
    font-size: 1rem;
    color: #65a20a;
}

#about h2 {
    left: 10%;
    width: fit-content;
    margin-top: 2rem;
    border-bottom: 0.1vh solid #222629;
}


#about h3 {
    margin: 2rem;
    font-size: 1.2rem;
    color: #1a260a
}
#about a{
    text-decoration: none;
}

#describe {
    max-width: 50%;
    background-color: #86c232;
    box-shadow: -5px -5px 5px 0px #000000;


}

/***side skills*/
/*#side ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 3.5rem;
    padding-top: 5rem;
}

#side ul li {
    box-shadow: 0 3px 10px #a17a69;
    border-radius: 0.4rem;

}*/



/*****ourServices***/
#all {
    background-color: #1a260a;
}

#h2Services {
    color: #86c232;
    margin-top: 3.7rem;
    max-width: 100%;
    border: none;
    letter-spacing: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;

}



#ourServices2 {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

#ourServices2 div {
    background-color: #040404;

    color: #86c232;
    box-shadow: 0 3px 10px #86c232;
    padding: 2rem;
    border: 0.1vh solid;
    border-radius: 2rem;
}



#ourServices2 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
    border-bottom: 0.15vh solid #86c232;

}



/**PROJECTS*/
section#myWork {
    /* background-color:#86c232;*/
    width: 90%;
    margin: auto;
    box-shadow: 0 3px 10px #040404;

}

section#myWork h2 {
    letter-spacing: 1rem;

}

#h2Projects {
    font-size: 2rem;
    position: relative;
    left: 34%;
    width: fit-content;
    margin-top: -5rem;
    padding-top: 2rem;

}

#h2Projects h2 {
    color: #25360e;
    border: none;
    text-shadow: -2px 3px 3px #86c232;
}

#projects,
#projects2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

#projects {
    display: none;
}

.projects {
    border: 0.1vh solid #222629;
    border-radius: 2rem;
    display: grid;
    grid-gap: 3vh;
    width: 17.5%;
    height: 25rem;
    align-content: center;
    text-align: center;
    margin-bottom: 3%;
    /*box-shadow: 0 3px 10px #a17a69;*/
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.2),0 6px 20px rgba(0,0,0,0.19);*/
    background-color: #101606;




}

.projects img {
    max-width: 100%;
    display: block;
    /* max-width: 100%;
    height: 40vh;
    object-fit: contain;*/
}

.projects span {
    padding-top: 22rem;
    font-size: 1.2rem;
    color: whitesmoke;
    color: aliceblue;

}

.projects#resturant .links a,
.projects#salon .links a {
    margin-bottom: 0;
}

.projects .tools {
    padding-top: 5%;
}

.projects .tools+.tools {
    border: none;
}

.projects .tools span {

    font-size: 0.75rem;
    margin-left: 5%;
    padding: 1%;

}

.projects span {
    color: #c1c4c2;
}

.projects .links {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;

}

.contain {
    margin-top: 9rem;
}

.contain h3 {
    font-size: 1.1rem;
    color: #65a20a;
    padding-bottom: 1rem;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10rem;
}

.play i {
    color: #86c332;
    text-shadow: 1px 1px 1px #86c232;
    font-size: 2rem;

}

.links a {
    text-decoration: none;
    color: #86c332;
    margin-top: 1rem;
    padding: 0.2rem;
}

.links i {
    text-shadow: 1px 1px 1px #86c232;
    margin-left: 0.1rem;
    padding-left: 0.2rem;
}


#button {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

#more {
    background-color: #1a260a;
    color: #86c232;
    /*box-shadow:0.3rem 0.2rem black ,-0.3rem -0.2rem #61892f;*/
    position: relative;
    right: -47%;
    font-size: 1.0rem;
    padding: 0.8%;
    cursor: pointer;
}


/****BLOGS***/
#blogs {
    margin-top: 0rem;

}

#blogs h2 {
    right: -47.5%;
    width: fit-content;
    font-size: 1.3rem;
    color: #040404;

}

.blogOptions {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    margin-top: 2rem;

}

.blogOptions div {
    width: 15rem;
    height: 10rem;
    background-color: #3b5516;
    box-shadow: 1px 3px 5px #61892f;
    border-radius: 2rem;

}

#blogs a {

    text-decoration: none;
    color: #86c332;
}

#blogs a h4 {
    padding-top: 3rem;
    text-align: center;
    font-size: 1rem;
}

/****footer*/
footer {
    background-color: #040404;
    height: auto;
    color: #61892f;
    max-width: 90%;
    margin: auto;
}

footer h2 {
    font-size: 0.8rem;
    text-align: center;
    border: none;

}


footer ul {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px #86c232;

}

#copyright {

    text-align: center;
    margin-left: -4rem;
    color: #86c232;

}

footer div i {
    font-size: 0.9rem;
}

footer span {
    font-size: 0.9rem;
    font-family: 'Alex Brush';
}

footer ul i {
    margin: 2rem;
    padding: auto 2rem;
}






/*********HOVER**********/

header ul li:hover {
    color: #86c232;

}

/**main****/
main span:hover {
    background-color: #ffffff;
    color: black;
}

#side li:hover {
    font-size: 4rem;
}

#ourServices2 div:hover {
    background-color: #86c232;
    color: black;
}

.play i:hover {
    display: none;
}

.links:hover {
    background-color: #040404;
}



#salon:hover {
    background-image: url(../images/saloon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#alphabet:hover {
    background-image: url(../images/a-z.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#resturant:hover {
    background-image: url(../images/cuisine.png);
    background-size: cover cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}



/************MEDIA QUERY***************/
@media screen and (max-width:480px) {

    header,
    main {
        max-width: 100%;
    }
    header>span{
        margin-top: 0.5rem;
        font-size: 1.6rem;
    }
    header nav ul {
        display: none;
    }
    .phone{
        display: inline;
        color: white;
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-left: 10rem;
        margin-right: -5rem;
    }
    .phone
     /*.phone{
        display:inline-block;
    }
    #menu{
        display: block;
        color: white;
        font-size: 1rem;
     }*/


    main {
        height: 75vh;

    }

    main img {
        display: none;
    }

    #about {
        width: 82%;
    }
    #about h2{
        margin-top: 1rem;
    }
    #about h3{
        margin-top: 1rem;
    }

    #describe {
        max-width: 100%;
    }

    #ourServices2,
    #projects2,
    .blogOptions {
        display: block;
    }

    /*#all{
        padding-top: 0.1rem;
    }*/
    #h2Services {
        padding-top: 4rem;
        margin-left:1.5rem ;
    }

    #ourServices2 div {
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
    }
    #h2Projects{
        left:31.5%;
    }
    #projects2 .projects {
        width: 90%;
        height: 25vh;
        margin: auto;
        margin-bottom: 2rem;
    }
    .contain {
        margin-top: 4rem;
    }
    .play{
        display: none;
    }
    
    #button {
        margin-right: 4rem;
    }

    .blogOptions div {
        margin: auto;
        margin-bottom: 2rem;
    }

    #blogs h2 {
        left: 39%;
        margin-top: 1rem;
        letter-spacing: 0.4rem;
    }

    section#myWork h2 {
        letter-spacing: 0.5rem;
        left: -24%;
    }

    footer {
        max-width: 100%;
    }

}